#search-form{
    width: 50%;
}

#search-field{
    width: 60%;
}

#nav-menu{
    float: right;
}

.navbar-light {
 background: none;
 text-align: center;
}

.btn-outline-success{
    border:none;
    color: gray;
    background: none;
}

.btn-outline-success:hover{
    background: none;
}

.btn-outline-success:hover{
    color: #55595c;
}

.navbar-nav .nav-item .nav-link:hover{
    color: #55595c;
}

.navbar, .navbar-light, .bg-faded{
    width: 90%;
    margin: auto;
    position: relative;
}

.navbar-nav .nav-item .nav-link.active{
    color: #e60000;
}