#search-form{
    width: 50%;
}

#search-field{
    width: 60%;
}

#nav-menu{
    float: right;
}

.navbar-light {
 background: none;
 text-align: center;
}

.btn-outline-success, .btn-outline-success:hover{
    background: none;
    color: #55595c;
    border:none;
}

.navbar-nav .nav-item .nav-link:hover{
    color: #55595c;
}

.navbar, .navbar-light, .bg-faded{
    width: 90%;
    margin: auto;
    position: relative;
}

.navbar-nav .nav-item .nav-link.active{
    color: #e60000;
}

#link-field{
    text-align: center;
    position: absolute;
    width: 100%;
}

.form-control{
    width: 70%;
}

.btn-outline-success, .btn-outline-success:hover{
    background: none;
    color: white;
    border:1px solid white;
}

.modal-content{
    border: none;
}