#search-form{
    width: 40%;
    margin-left: 30%;
}

#search-field{
    width: 70%;
}

#nav-menu{
    float: right; 
    margin-right: 250px;
}

.navbar-light {
 background: none;
 background-image: url("../app/header/logo.png");
 background-size: 155.8px 42.8px;
 background-repeat: no-repeat;
 margin-top: 0.8%;
 margin-left: 1%;
 background-position-y: 60%;
}

.btn-outline-success{
    border:none;
    color: gray;
    background: none;
}

.btn-outline-success:hover{
    background: none;
}

.btn-outline-success:hover{
    color: #55595c;
}

.navbar-nav .nav-item .nav-link:hover{
    color: #55595c;
}

