
<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" ><img src="../app/header/logo.png" alt="logo" height="41.8" width="142.8"></a>
  
  <form class="form-inline float-xs-left" id="search-form">
    <input class="form-control" id="search-field" type="text" placeholder="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>

  <ul class="nav navbar-nav" id="nav-menu">
    
    <li class="nav-item" id="nav-item-padding">
      <a class="nav-link" href="" data-toggle="modal" data-target=".bd-example-modal-lg">Add Article</a>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form class="form-inline float-xs-left" id="link-field">
    <input class="form-control" type="text" placeholder="http://www.example.com">
    <button class="btn btn-outline-success" class="add-button" type="submit">Add</button>
  </form>
    </div>
  </div>
</div>
    </li>

    <li class="nav-item" id="nav-item-padding">
      <a class="nav-link" routerLink="/tutorials" routerLinkActive="active">Tutorials</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
    </li>
    <li class="nav-item">
          
      <!-- Small modal -->
<a href="" class="nav-link" data-toggle="modal" data-target=".bd-example-modal-sm">Login</a>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <a href="#"><img class="github-login"src="../app/header/github-login.png"></a>
    </div>
  </div>
</div>




    </li>
  </ul>

</nav>