.list-group{
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
}

.list-group-item, .list-group-item-action, .list-group-item-text{
    border: none;
    padding-bottom: 1%;
}

.list-group-item-text{
    border-bottom: 1px solid #e6e6e6;
}

.pagination{
    float: right;
}

.page-link{
    color: gray;
}

.tag, .tag-default, .tag-pill, .float-xs-right{
    background: green;
}

.unverified{
    background: gray;
}